executors:
  node:
    parameters:
      image:
        type: string
        default: "12"
    docker:
    - image: circleci/node:<< parameters.image >>
    
aliases:
  restore_cache: &restore_cache
    restore_cache:
      name: Restore Npm Package Cache
      keys:
      - v{{ .Environment.versionCache }}-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}-{{ checksum ".circleci/config.yml" }}

  install_node_modules: &install_node_modules
    run:
      name: Install NPM dependencies
      command: npm install

  save_cache: &save_cache
    save_cache:
      name: Save NPM modules cache
      key: v{{ .Environment.versionCache }}-deps-{{ .Branch }}-{{ checksum "package-lock.json" }}-{{ checksum ".circleci/config.yml" }}
      paths:
      - ./node_modules/

version: 2.1


jobs:
  install_dependencies:
    executor: node
    steps:
    - checkout
    - <<: *restore_cache
    - <<: *install_node_modules
    - <<: *save_cache
  build:
    executor: node
    steps:
    - checkout
    - <<: *restore_cache
    - <<: *install_node_modules
    - run:
        name: Build Public
        command: npm run build
    - persist_to_workspace:
        root: /home/circleci/project
        paths:
          - public
  deploy:
    executor: node
    environment:  
      NETLIFY_SITE_ID: 4e12c884-1107-4456-bd42-fb42bdbf2f8d
      NETLIFY_ACCESS_TOKEN: -i-Yial4dkIh14G6wS3KJ7wYueThIRdPWbI5r_mfA28
    steps:
    - checkout
    - attach_workspace:
        at: /home/circleci/project/
    - <<: *restore_cache
    - <<: *install_node_modules
    - run:
        name: install netlify cli
        command: sudo npm install --unsafe-perm=true -g netlify-cli
    - run: 
        name: deploy site to netlify
        # command: netlify deploy --dir=/home/circleci/project/public -p
        command: netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN --prod --dir=public


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - install_dependencies
      - build:
          requires:
            - install_dependencies
      - deploy:
          context: GATSBY-CIRCLECI
          requires:
            - build

